@font-face {
  font-family: "Recoleta Regular";
  src: url("../Fonts/recoleta/Recoleta-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-swap: swap;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("../Fonts/manrope/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-swap: swap;
}
@font-face {
  font-family: "Manrope Medium";
  src: url("../Fonts/manrope/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-swap: swap;
}
@font-face {
  font-family: "Manrope ExtraBold";
  src: url("../Fonts/manrope/manrope-extrabold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-swap: swap;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("../Fonts/manrope/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-swap: swap;
}

@font-face {
  font-family: "Morgenwalsh";
  src: url("../Fonts/morgenwalsh/Morgenwalsh.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
